<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OrganicShoppingMall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.lanqiao.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Product_detail_Servlet</display-name>
    <servlet-name>Product_detail_Servlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.Product_detail_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_detail_Servlet</servlet-name>
    <url-pattern>/Product_detail_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fruit_Servlet</display-name>
    <servlet-name>Fruit_Servlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.Fruit_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fruit_Servlet</servlet-name>
    <url-pattern>/Fruit_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fresh_Servlet</display-name>
    <servlet-name>Fresh_Servlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.Fresh_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fresh_Servlet</servlet-name>
    <url-pattern>/Fresh_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vegetables_Servlet</display-name>
    <servlet-name>Vegetables_Servlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.Vegetables_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vegetables_Servlet</servlet-name>
    <url-pattern>/Vegetables_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_Servlet</display-name>
    <servlet-name>Index_Servlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.Index_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_Servlet</servlet-name>
    <url-pattern>/Index_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IogoutServlet</display-name>
    <servlet-name>IogoutServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.IogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IogoutServlet</servlet-name>
    <url-pattern>/IogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserInfoAddressServlet</display-name>
    <servlet-name>deleteUserInfoAddressServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.deleteUserInfoAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserInfoAddressServlet</servlet-name>
    <url-pattern>/deleteUserInfoAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getOrderInfoServlet</display-name>
    <servlet-name>getOrderInfoServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.getOrderInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOrderInfoServlet</servlet-name>
    <url-pattern>/getOrderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserInfoServlet</display-name>
    <servlet-name>getUserInfoServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.getUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserInfoServlet</servlet-name>
    <url-pattern>/getUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAddressServlet</display-name>
    <servlet-name>updateAddressServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.updateAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAddressServlet</servlet-name>
    <url-pattern>/updateAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserInfoServlet</display-name>
    <servlet-name>updateUserInfoServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.updateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserInfoServlet</servlet-name>
    <url-pattern>/updateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagementServlet</display-name>
    <servlet-name>ManagementServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagementServlet</servlet-name>
    <url-pattern>/ManagementServlet</url-pattern>
  </servlet-mapping>
</web-app>